%% vim: ts=4 sw=4 et ft=erlang
%% This is a sample config file for sigma_sql
[
    {sigma_sql, [
        {type, mysql},
        {host, "127.0.0.1"},
        {port, 3306},
        {user, "user"},
        {pass, "userpass"},
        %% There are three different ways to determine database
        %%
        %% 1) All requests go to a single database:
        {lookup, database_name}
        %%
        %% 2) Before a request is made, run a lookup function in another
        %%     module to determine which database:
        %% {lookup, {lookup_module, lookup_function}}
        %%
        %% 3) Before a request is made, run an anonymous lookup function:
        %% {lookup, fun() -> returns_an_atom_of_db_name() end}
    ]}
].
