%% vim: ts=4 sw=4 et ft=erlang
%% This is a sample config file for sigma_sql
[
    {sql_bridge, [
        %% module_alias determines a shortened module that will be dynamically
        %% generated on compile. By default, it uses "db". So db calls could be
        %% called with db:q() instead of sigma_sql:q(). The value can be any
        %% valid module name (though be careful not to use a module that
        %% already exists in your system or the Erlang Runtime System
        {module_alias, db},

        %% built-in adapters:
        %% sql_bridge_mysql_otp | sql_bridge_epgsql | sql_bridge_emysql (deprecated)
        {adapter, sql_bridge_epgsql},
        {host, "127.0.0.1"},
        {port, 3306},
        {user, "user"},
        {pass, "userpass"},
        %% There are three different ways to determine database
        %%
        %% 1) All requests go to a single database:
        {lookup, database_name},
        %%
        %% 2) Before a request is made, run a lookup function in another
        %%     module to determine which database:
        %% {lookup, {lookup_module, lookup_function}}
        %%
        %% 3) Before a request is made, run an anonymous lookup function:
        %% {lookup, fun() -> returns_an_atom_of_db_name() end}
        {connections_per_pool, 10},

        {overflow_connections_per_pool, 10}
    ]}
].
